{% extends 'base/layout.html' %}

{% block content %}
<div class="container bg-dark text-center text-light p-3 mb-5">
    <h1>BOOTSTRAP Class COL, ROW & BORDER</h1>
</div>
<div class="col-12">
    <div class="row">
        <div class="col-6 bg-danger">
            <p>col-6</p>
        </div>
        <div class="col-6 bg-primary">
            <p>col-6</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 bg-success" >
            <p>col-4</p>
        </div>
        <div class="col-4 bg-dark" style="color: white">
            <p>col-4</p>
        </div>
        <div class="col-4" style="background-color: purple;">
            <p>col-4</p>
        </div>
    </div>
    <div class="row">
        <div class="col-2" style="background-color: aqua;">
            <p>col-2</p>
        </div>
    </div>
    <div class="row">
        <div class="col-2 mx-auto" style="background-color: pink;">
            <p>col-2 mx-auto</p>
        </div>
    </div>
    <div class="row">
        <div class="col-2" style="background-color: brown; margin-left: 83.3%;">
            <p>col-2</p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-9" style="background-color: cornflowerblue;">
            <p>col-md-9</p>
        </div>
        <div class="col-md-3" style="background-color: chocolate;">
            <p>col-md-3</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-4" style="background-color: darkgoldenrod;">
            <p>col-md-4</p>
        </div>
        <div class="col-md-4" style="background-color: darkred;">
            <p>col-md-4</p>
        </div>
        <div class="col-md-4" style="background-color: darkslategrey;">
            <p>col-md-4</p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-2 mx-auto mb-2" style=" background-color: fuchsia; height: 300px;">
            <p>col-md-2 mx-auto</p>
        </div>
        <div class="col-md-8 mx-auto" style=" background-color: greenyellow;">
            <p>col-md-8 mx-auto</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-5 mx-auto mb-5" style=" background-color:indigo;">
            <p>col-md-5 mx-auto</p>
        </div>
        <div class="col-md-5 mx-auto mb-5" style=" background-color:rgb(16, 121, 121);">
            <p>col-md-5 mx-auto</p>
        </div>
    </div>
    <div class="border border-dark text-center">
        <p>border border-dark</p>
    </div>
    <div class="border border-top-0 border-primary mt-4 text-center">
        <p>border border-top-0 border-primary</p>
    </div>
    <div class="border border-right-0 border-danger mt-4 text-center">
        <p>border border-right-0 border-danger</p>
    </div>
    <div class="border border-bottom-0 border-warning mt-4 text-center">
        <p>border border-bottom-0 border-warning</p>
    </div>
    <div class="border border-left-0 border-success mt-4 text-center">
        <p>border border-left-0 border-success</p>
    </div>
    <div class="border border-dark rounded mt-5 mb-5 text-center">
        <p>border border-dark rounded</p>
    </div>


</div>




</div>

{% endblock %}